h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(122,67,98);
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");*/
  background-size: cover;
  color: rgb(122,67,98)
}


p {
  font-size: 2rem
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}


.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.excellent {color: rgb(208, 53, 255);}
.good {color: rgb(30, 123, 230);}
.fair {color: rgb(0, 255, 13);}
.bad {color: rgb(255, 153, 0);}
.Vbad {color: rgb(255, 0, 0);}


